/* 
turqouise: #3fac9c
grey: #828d95
dark grey: #696e72
light grey: #b8bcbe
yellow: #fec94e
*/
body{
    font-family: 'Quicksand', sans-serif;
    background-color: #b8bcbe;
    color: #ffffff;
}
.logo{
    height: 450px;
    margin-left: 80px;
    margin-top: -125px;
    position: absolute;
}
ul{
    list-style: none;
    margin-top: 50px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    padding-right: 80px;
    overflow: hidden;
    background-color: #828d95;
}
ul li {
    float: right;
    padding-right: 30px;
}
ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transform: scale(1);
    transition: opacity 3.5s ease transform 0.1s ease;
}
ul li a:hover {
    color: #fec94e;
    background-color: #3fac9c;
    animation-name: anizoom;
    transform: scale(1.5);
    transition: transform 0.1s ease;
}
@keyframes anizoom{
    from {transform: scale(1)};
    to {transform: scale(1.5)};
}
.buglegend{
    
    font-size: 25px;
    padding: 10px;
    color: #fec94e;
}
.bugform{
    margin-left: 100px;
    line-height: 30px;
    margin-top: 200px;
    background-color: #828d95;
    width: 450px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
}
button{
    font-size: 18px;
    margin: 15px;
    padding: 12px;
    border-radius: 15px;
    color: #fec94e;
    background-color: #696e72;
    border-color: #fec94e;
}